{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Tarshit Arya{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">Tarshit</div>
        <ul class="nav-link">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer style="background: #333; color: white; text-align: center; padding: 10px;">
    <p style="margin: 0;">© 2025 Tarshit | My Portfolio</p>
    </footer>

  </body>
</html>

